.back-btn {
  border-radius: 30px;
  font-weight: 500;
  padding: 3px 15px;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover {
  background-color: #0d6efd;
  color: white;
  transform: translateX(-3px);
}
