.container {
  max-width: 1100px;
  margin: auto;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between; /* title on left, filter on right */
  align-items: center;
  margin-bottom: 20px;
}

.header-container .filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table thead th {
  vertical-align: middle;
}

.img-thumbnail {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(84, 48, 48, 0.2);
}
